
/* 
.app{
    height: 100vh;
  padding: 0 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
}
*/


.tareas{
    
    width: 1000px;
    min-height: 65px;
    background-color: #5745aa;
    margin: 25px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid rgb(19, 5, 5);
    gap: 10px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
/*
.tarea {
    flex: 2;
    display: flex;
    flex-direction:column;
    gap: 5px; 
    align-items: left;
    color: white;
}

.actualizar{
    border: none;
    padding: 3px 6px;
    background-color:  white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color:rgb(139, 139, 234)
}

.borrar{
    border: none;
    padding: 3px 6px;
    background-color:  white;
    cursor: pointer;
    border: 1px solid rgb(73, 6, 6);
    color:rgb(211, 35, 35)
}
*/

h1{
    text-align: center;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}





.formadd{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputAdd {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

/*
.formButton{
    border: none;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;  
    cursor: pointer;
}


.formButtonAc{
    border: none;
    padding: 10px;
    background-color: rgb(211, 88, 17);
    color: white;
    font-weight: bold;  
    cursor: pointer;
}
*/

/*
footer, img{
    margin-top: 90px;
    padding: 20px;
    background-color: rgb(192, 197, 192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    
}
*/


