


.cont-tabla {
    height: 70vh;
    padding: 0 60px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3px;
      text-align: center;
}


.rdt_TableCol{
    height: 50px;
    background-color: darkgrey;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
}

.cont-tabla td{
    height: 50px;
    border: 1px solid rgb(46, 56, 56);
    padding: 5px 10px;
}

.trColor{
    background-color: rgb(46,56, 56);
    color: #fff;
}

.trColor td{
    border: 1px solid #fff;
}

@media(max-width: 720px){
    .cont-tabla{
        overflow-x: scroll;
    }
}
