# Dependencias
node_modules/
backend/node_modules/
client/node_modules/

# Builds
build/
dist/
client/build/

# Variables de entorno
.env
backend/.env
client/.env

# IDEs
.vscode/
.vs/

# Logs
*.log
logs/